.RatingsSelect {
  appearance: none;
  border: 0;
  text-align: center;
  font-size: 0.8rem;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
}

.RatingsSelect:focus-visible {
  border: 0;
  outline: 0;
}
