.Link {
  text-decoration: none;
}

.ImageContainer {
  min-width: 130px;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}

.Description > p {
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

@media (hover: hover) {
  .Card:hover {
    background-color: var(--color-panel-translucent);
    transition: opacity 60ms;
  }
}
